<html>
<%- partial('_partial/head')%>
<body>
    <article class="markdown-body" id="preview" data-open-title="Hide Preview" data-closed-title="Show Preview" style="padding-bottom: 480px;">
        <%- body%>
    </article>
</body>

<script type="text/javascript" src="../js/jq.js"></script>
<script type="text/javascript" src="../js/anchor.js"></script>
</html>